.formulario{
    display: flex;
    flex-direction: column;
    width: 70%;
}


.titulo_formulario{
    text-align: center;
    padding: 10px 0;
}

.importante{
    line-height: 1.5em;
    font-size: 12px;
    font-weight: 200px;
    margin: 0 0 0 10px;
}

        label{
            margin: 0.5em 0;
            display: block;
        }

        input{
            display: block;
        }

        input[type="radio"]{
            display: inline;

        }

    #veiculo2{
        width: 300px;
        height: 100px;
    }
